.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
   background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #e0e0e0 10px,
    #e0e0e0 20px
  );
}

.content {
  text-align: center;
}

.register-button {
  padding: 10px 20px;
  background-color: #245532;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  
}

.register-button:hover {
  background-color: #0056b3;
}

.content h1{
    margin-bottom: 80%;
    text-transform: uppercase ;
}