.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  color: white;
  font-size: 24px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.navbar-links button:hover {
  text-decoration: underline;
}
